{extend name="base"}
{block name="content"}
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                                <li class="active">控制面板</li>
                                </ul>
        </div>
        <!-- /Page Breadcrumb -->

        <!-- Page Body -->
        <div class="page-body">
            <div style="font-size: 18px;">
            <h2>天用设计</h2><br>
                <p>说明:</p>

                <p>1. 所有账号默认密码为：skyuse,为了您的账号安全，请点击右上角修改密码！</p>
                <p>2. 默认超级管理员只有一个：甘文杰</p>
                <p>3. 分组组长增加订单和分配提成</p>
                <p>4. 员工都有查看的权限</p>
                <p>5. 若要新增其他权限，请联系管理员</p>
                <br>
                <br>
                <p>流程：</p>
<p>1. 超级管理员设置提成配置等级，比如，“设计部A级提成10%”，“设计部B级5%”</p>
<p>2. 分组组长添加订单，在订单完成后，根据具体情况选择提成配置。</p>
<p>3. 订单完成后，分组组长对订单提成分配到个人。</p>
<p>4. 设计部的普通员工，仅仅拥有查看订单，查看提成分配和查看个人提成。</p>
            </div>
        </div>
        </div>
        

        </div>
        <!-- /Page Body -->
    </div>
{/block}