{extend name="base"}
{block name="content"}
           <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('order/list')}">订单列表</a>
                    </li>             
                    <li class="active">新增订单</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">新增订单</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="order_title" name="order_title" placeholder="订单名称,例如:恒福新城" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">价格</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="order_price" name="order_price" placeholder="订单价格" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">客户名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="order_buyer" name="order_buyer" placeholder="客户名称" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">下单时间</label>
                            <div class="col-sm-6">
                                <!-- <input class="form-control" id="order_title" name="order_title" placeholder="订单名称" required="" type="text"> -->
                                <input class="datainp"  id="settime" name="order_settime" type="text" placeholder="请选择"  readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">完成时间</label>
                            <div class="col-sm-6">
                                <input class="datainp"  id="gettime" name="order_complete_time" type="text" placeholder="请选择"  readonly>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="is_show" class="col-sm-2 control-label no-padding-right">是否已完成</label>

                            <!-- <div class="col-sm-6">
                                <select name="type" style="width: 100%;">
                                    <option value="1" selected="selected">开展中</option>
                                    <option value="1">已完成</option>
                                    <option value="2">其他</option>
                                </select>
                            </div> -->  
                            <div class="col-xs-4">
                                <label>
                                    <input class="checkbox-slider slider-icon yesno" name="order_complete" type="checkbox">
                                    <span class="text"></span>
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">提成规则/等级</label>
                            <div class="col-sm-6">
                                <select name="order_rule_id" style="width: 100%;">
                                    <option value="0" selected="selected">请选择提成规则/等级</option>
                                    {foreach name="rules" item="vo"}
                                    <option value="{$key}">{$vo}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label no-padding-right">备注</label>
                            <div class="col-sm-6">
                                <textarea id="title" type="text" rows="8" name="order_remarks"  class="form-control" placeholder="备注"></textarea>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="is_show" class="col-sm-2 control-label no-padding-right">是否关闭</label>

                            <div class="col-xs-4">
                                <label>
                                    <input class="checkbox-slider slider-icon yesno" name="is_show" checked="checked" type="checkbox">
                                    <span class="text"></span>
                                </label>
                            </div>                            
                        </div>
                        <!-- <input name="id" value="19" type="hidden"> -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>


    <!--datetime start-->
    <script type="text/javascript" src="__STATIC__/admin/style/jedate/jedate.js"></script>
    <script type="text/javascript">
        jeDate({
            dateCell:"#settime",
            format:"YYYY-MM-DD hh:mm:ss",
            isinitVal:true,
            isTime:true, //isClear:false,
            minDate:"2004-09-19 00:00:00",
            okfun:function(val){alert(val)}
        })
        jeDate({
            dateCell:"#gettime",
            format:"YYYY-MM-DD hh:mm:ss",
            isinitVal:false,
            isTime:true, //isClear:false,
            minDate:"2004-09-19 00:00:00",
            okfun:function(val){alert(val)}
        })
    </script>
    <!--datetime end-->
{/block}
